[2018-08-24 17:41] johannbrehmer opened #51 "Morphing bases with additional basis points"
Implement morphing bases with n > k basis points, where k is the number of morphing components. There is then an (n-k)-dimensional weight function of the parameter space that determines the optimal basis vector combination for each parameter point. This weight function has to be stored in the HDF5 file in some way.

[2018-08-24 17:42] johannbrehmer opened #52 "Morphing-aware estimators"
Implement morphing-aware ratio estimators.

[2018-08-24 17:42] johannbrehmer opened #53 "Implement SCANDAL with flows"
Implement SCANDAL with masked autoregressive flows.

[2018-08-24 17:49] johannbrehmer opened #54 "Automatic definition of observables"
Automatically define a default set of observables. For example we could use the energies, pT, eta, phi of all visible particles, plus MET.

[2018-08-24 17:51] johannbrehmer opened #55 "Fisher information after cuts, in distributions"

[2018-08-24 17:53] johannbrehmer opened #56 "Improve documentation"
Add, update, and clean up docstrings. Optionally export as nice API documentation.

[2018-08-24 19:32] johannbrehmer opened #58 "Improve Fisher info interface"
Internal Functions should start with an underscore. In addition, we might want to separate the following use cases into separate (user-facing) functions:
- calculate total Fisher info (summed over events, with optional cuts)
- calculate Fisher info in histogram (summed over bins)
- calculate Fisher info in xsec

I'm not sure we need a function that gives out the Fisher info in individual phase-spa

[2018-08-30 19:08] johannbrehmer opened #59 "Background event generation without running reweighting"
New flag that allows to run MG without reweighting for theta-independent backgrounds

[2018-08-30 19:09] johannbrehmer opened #60 "Additional benchmarks not used for morphing"
Add the option to add benchmarks on top of a complete morphing basis for cross checks

[2018-08-30 20:02] johannbrehmer opened #62 "DelphesMiner cuts"

[2018-08-30 20:13] johannbrehmer opened #63 "Nuisance parameters to rescale xsecs"
Introduce a function that adds nuisance parameters that rescale the cross sections of entire LHE / H5 files.

[2018-08-30 23:17] johannbrehmer opened #64 "Phase-space-dependendant nuisance parameters"
Let the user supply a function (or a string that can be saved in the HDF5 and parsed efficiently) that depends on x and the value of a nuisance parameter nu and returns a event-wise rescaling.

[2018-08-30 23:33] johannbrehmer opened #65 "Morphing-based nuisance parameters"
New feature: derive effect of nuisance parameters through a new version of morphing. We would have to fix the effect of nuisance parameters to some pre-defined parametric shape and then simulate basis points with different parameter values, e.g. scale choices.

[2018-08-31 14:01] johannbrehmer opened #66 "Load MadMiner settings to GoldMine"
Add a function that loads the parameter, benchmark, and morphing setup from an HDF5 file to the GoldMine class.

[2018-08-31 18:10] johannbrehmer commented on #66
Implemented in b6fe87a278a37952363f5449da6021d55f07bf21

[2018-08-31 18:10] #66 closed

[2018-08-31 18:10] johannbrehmer commented on #62
Implemented in b6fe87a278a37952363f5449da6021d55f07bf21

[2018-08-31 18:10] #62 closed

[2018-08-31 18:11] johannbrehmer commented on #59
Implemented in b6fe87a278a37952363f5449da6021d55f07bf21

[2018-08-31 18:11] #59 closed

[2018-08-31 18:35] johannbrehmer opened #69 "LHEProcessor support for background samples"
Since b6fe87a278a37952363f5449da6021d55f07bf21, MadMiner can generate "background samples", samples in which the event weights do not depend on theta, without reweighting. DelphesProcessor can already read in these files. But LHEProcessor assumes the same number of weights in all samples, so will probably crash when confronted with a mixture of signal and background samples.

[2018-08-31 18:38] johannbrehmer opened #70 "Process tag for events"
It would be a nice feature if we could save for each event from which process (in the sense of MadGraph sample) it came from. The user could supply a label for each HepMC sample that is then saved in a separate field in the HDF5 file.

[2018-08-31 19:54] johannbrehmer commented on #64
The simplest thing that we could implement immediately is a Taylor expansion:

`dσ(x|θ,ν)  =  (1 + aᵢ(x) ν + bᵢ(x) ν² + cᵢ(x) ν³ + ...) dσ(x|θ)`,

with more brackets for more than one nuisance parameter. The functions `aᵢ(x)` etc. could for now be explicitly specified by the user, with the option to add a morphing setup later. The subscript `i` refers to the process generating an event (e.g. diffe

[2018-08-31 19:55] johannbrehmer commented on #63
See also #64

[2018-09-03 15:34] johannbrehmer commented on #60
See also #51

[2018-09-03 15:34] johannbrehmer commented on #51
See also #60

[2018-09-03 17:29] johannbrehmer opened #71 "More flexible morphing setup"
Currently, the morphing components are specified only through
- the maximal power that each parameter appears in couplings, and
- the overall maximal combined power of parameters in couplings.
This overestimates the number of components in many settings, for instance when there are two distinct classes of processes, affected by different operators.

One possible improvement would be to define clas

[2018-09-03 19:55] johannbrehmer commented on #71
Implemented in efb7b9c2cbafbd098d7f55a3f925ecac36de35ac

[2018-09-03 19:55] #71 closed

[2018-09-13 16:57] KlingFelix opened #75 "Manually add new entries to reweight card"
Can we have an option that just manually add news new entries to the reweight card?

The application I have in mind is that then we can do signal and (same final state) backgrounds in the same run, with the same events, which is needed for MadFisher.

[2018-09-13 20:41] johannbrehmer commented on #75
Good idea. We should probably address this simultaneously with additional, non-morphing benchmark points, see #60 .

[2018-09-13 20:44] johannbrehmer commented on #60
Address this together with #75

[2018-09-14 15:11] johannbrehmer commented on #58
Implemented in 7bbbf1a2dd9448fa75b3838db77817cee223474e .

[2018-09-14 15:11] #58 closed

[2018-09-14 20:59] johannbrehmer commented on #65
We should check how the MadGraph systematic tools handles it.

Can we always assume that this factorizes from physics effects?

[2018-09-14 21:01] johannbrehmer opened #77 "NLO reweighting"
Add the option to reweight to NLO in addition to the Wilson coefficient reweightings.

[2018-09-14 21:02] johannbrehmer commented on #77
Related to #65 .

[2018-09-14 21:02] johannbrehmer commented on #65
Related to #77 .

[2018-09-16 15:51] johannbrehmer opened #79 "Refactor package and class names"
Right now these are the important objects (roughly sorted by workflow)
- `madminer.goldmine.GoldMine`
- `delphesprocessor.delphesprocessor.DelphesProcessor`
- `lheprocessor.lheprocessor.LHEProcessor`
- `madminer.refinery.Refinery`
- `forge.forge.Forge`
- `madminer.madfisher.MadFisher`

The distinction between core code (`madminer` package), detector and observable (`delphesprocessor` and `lheproce

[2018-09-17 13:02] johannbrehmer commented on #79
Based on a suggestion by Kyle -- less puns, more concise:

- `madminer.core.MadMiner`
- `madminer.delphes.DelphesProcessor`
- `madminer.lhe.LHEProcessor`
- `madminer.sampling.SampleAugmenter`
- `madminer.ml.MLTrainer`
- `madminer.fisherinformation.FisherInformation`

[2018-09-17 13:45] johannbrehmer commented on #79
(And the morphing part, which is not strictly related to `madminer.core`, can go to `madminer.morphing`)

[2018-09-17 15:38] johannbrehmer commented on #79
Implemented in 7e153ee18eee64231268b7bb3c3c45b90ba61756 (but notebooks are not adapted yet, and no testing has been done).

[2018-09-19 10:14] johannbrehmer commented on #79
Pull request with new structure: #80

[2018-09-23 09:43] johannbrehmer commented on #79
Implemented in 3a5d6a1327ca5e4dc007d8638c85d57b7d035728

[2018-09-23 09:43] #79 closed

[2018-10-11 17:22] johannbrehmer opened #91 "Acceptance cuts"
In DelphesProcessor, add acceptance cuts that an object has to pass to be stored at all.

Defaults could be pT > 10 GeV and |eta| < 2.5 for electromagnetic objects / |eta| < 5 for jets.

[2018-10-12 17:20] johannbrehmer commented on #91
Implemented in cfa4f0f147d1d179dadebb29062a7e95cc2e8fe7

[2018-10-12 17:20] #91 closed

[2018-10-23 11:08] johannbrehmer commented on #65
Some updates:
- according to https://cp3.irmp.ucl.ac.be/projects/madgraph/wiki/Reweight#Technicaldetails, we can't use the MG reweighting module to change pdfs or scale choices
- we might be able to use the MG systematics module (https://cp3.irmp.ucl.ac.be/projects/madgraph/wiki/Systematics) for this
- this requires the python interface to LHAPDF, which is not automatically installed from within M

[2018-10-23 11:09] johannbrehmer commented on #55
Implemented!

[2018-10-23 11:09] #55 closed

[2018-10-23 11:10] johannbrehmer commented on #54
Implemented in 1bd5f5c661646e7082b25863dcce9514ee673942

[2018-10-23 11:10] #54 closed

[2018-10-23 11:11] johannbrehmer commented on #53
Implemented in c6481650aba1f9b43eca3f73d8a139b0deda1882

[2018-10-23 11:11] #53 closed

[2018-10-23 11:12] johannbrehmer commented on #56
Mostly done by now, missing:
- madminer.lhe
- madminer.plotting

[2018-10-23 12:09] johannbrehmer opened #104 "Ensemble methods"
We could / should implement a new class that simplified ensemble methods for likelihood ratio / Fisher information estimation. This would give out more precise predictions plus an error estimate.

Instead of a democratic vote, we could use the knowledge that ideally E[r] = 0 and E[t] = 0 (with the correct sampling), and use a weighted meta-prediction like
[code]
where `i` are the different estimat

[2018-10-23 12:17] johannbrehmer commented on #104
Not sure if we'd have to reserve a separate validation sample for calculating these expectations, or if it's fine to re-use the training data since the E[r] / E[t] property was never used in the losses.

[2018-10-24 10:36] johannbrehmer commented on #104
Implemented in 4e04a6259757a97bf72b41df1baa39b2173646e8

[2018-10-24 10:36] #104 closed

[2018-10-24 11:07] johannbrehmer opened #107 "Uncertainties on Fisher information matrices"
The ML-based estimated Fisher information has a notion of uncertainty when an ensemble of estimators is used.

We should also calculate the (statistical) uncertainty for all other Fisher information methods.

[2018-10-24 13:30] johannbrehmer opened #108 "Validation with ground truth"
Without shower and detector effects, we have `x=z` and can evaluate the ground-truth likelihood. We should use this to validate all methods.

This means:
- generating events with MadMiner for some process (we can deactivate Pythia)
- using LHEProcessor to extract a complete set of observables (no unobservable directions in phase space)
- when extracting the test sample, also save the t(x,z) and r(

[2018-10-24 13:37] johannbrehmer commented on #108
Two metrics to look at:
- typical error of estimates (`r(x)`, `t(x)`, `I_ij`) vs ground truth
- coverage of ensemble uncertainties: if we're lucky, the ML uncertainty from the ensemble variance covers the ground truth in 68% of the cases

[2018-10-24 13:50] johannbrehmer opened #109 "Regularization"
We could add options for regularizers for network weights, or for the gradient of the network output with respect to `x`.

[2018-10-25 03:36] johannbrehmer opened #111 "Clean up madminer.plotting"
The `madminer.plotting` functions `plot_fisherinfo_barplot()` and (to a lesser extent) `kinematic_distribution_of_information()` are messy. Docstrings are missing, there is code that was written for specific processes, some objects are never used at all. Generally the coding style is different from the rest of MadMiner.

I think we should either clean up these functions, or remove them from the pa

[2018-10-26 19:58] johannbrehmer opened #120 "Better criterion for morphing basis optimization"
Currently we optimize the morphing basis (benchmark points) by minimizing the expected squared morphing weights `L[w] = E_theta[sum_i w_i(theta)^2]`. The expectation runs over a flat prior over the parameter ranges specified in `MadMiner.add_parameter()`. Generally, our current algorithm will push the benchmark points far away from each other, which does indeed typically lead to small morphing wei

[2018-10-29 19:32] johannbrehmer opened #127 "Parallelize ensemble training"
With distributed computing and workflows in mind, it would be great to parallelize the training of ensembles of estimators.

[2018-10-29 20:10] johannbrehmer opened #128 "SALLY Fisher information on full, weighted sample"
It's possible to calculate the full Fisher information with SALLY on the full, weighted MadMiner file.

[2018-10-30 13:20] johannbrehmer opened #129 "Dynamic binning for histogram Fisher info"
The calculation of the Fisher information in (1D) histograms would benefit from variable-width bins. These can be determined automatically such that each bin carries the same cross section.

[2018-10-30 14:50] johannbrehmer commented on #129
Implemented in aed1088dbeae39a734540535cbc27406c883e8ca

[2018-10-30 14:50] #129 closed

[2018-10-30 17:14] johannbrehmer opened #132 "Observables from functions, not strings"
In `madminer.delphes`, observables are currently defined through parseable python expressions given as str. There should be an alternative option for the user to define observables through full-fledged functions.

[2018-10-30 20:05] johannbrehmer commented on #132
Implemented in 8c44f9421c2300ebdd3e58574dd1a2ad0da275d2

[2018-10-30 20:05] #132 closed

[2018-11-02 15:33] johannbrehmer commented on #107
Implemented in 6e262dca41ec5b5a53ef3b8e7c36e8140326a031

[2018-11-02 15:33] #107 closed

[2018-11-05 16:11] johannbrehmer commented on #109
0a868df5c75389d9f830dfbd67c19dd34e5a790b adds this option for ratio and score methods (no flows yet)

[2018-11-06 15:07] johannbrehmer commented on #128
Implemented in 1398640013eb568656acdea969a9ae47cb65ae94

[2018-11-06 15:07] #128 closed

[2018-11-08 21:56] johannbrehmer commented on #111
Done in 6979ba1d50db9d6e4a406c987437832697ccf280

[2018-11-08 21:56] #111 closed

[2018-11-08 21:57] johannbrehmer commented on #56
Finished in 6979ba1d50db9d6e4a406c987437832697ccf280

[2018-11-08 21:57] #56 closed

[2018-11-08 22:10] johannbrehmer commented on #109
That is good enough for now.

[2018-11-08 22:10] #109 closed

[2018-11-13 20:46] johannbrehmer commented on #108
Felix has done a lot of checking, and the new defaults from 293e8905b215d13c6960da5670e745b774814ea2 do very well vs ground truth.

[2018-11-13 20:46] #108 closed

[2018-11-15 03:23] johannbrehmer opened #166 "Downstream estimators are biased (Fisher information, exclusion contours)"
An unbiased score estimator leads to a biased Fisher information estimator and to biased Fisher contour estimates.

It's obvious in the extreme case. The Fisher information is by definition positive (semi-)definite, and so is any SALLY-based estimator for it. If the true Fisher information is (close to) zero, it stands to reason that the estimator will be biased: downward fluctuations can only be

[2018-11-15 03:51] johannbrehmer commented on #166
Ah, you're right, I think.

The problem is the current setup, where we calculate the Fisher information for each estimator and then do some ensemble statistics on these numbers. That leads to bias.

If we instead estimate the score for each event with each estimator, turn that into a mean and uncertainty for the score for each event, and then propagate these score uncertainties through to the Fish

[2018-11-15 18:33] johannbrehmer commented on #166
Though in that approach we ideally would have to calculate the covariance matrix between the scores for all events in an sample -- a `(n_events, n_events)` sized matrix. That's probably not feasible. Maybe as a first step we could ignore correlations?

[2018-12-07 14:00] johannbrehmer commented on #166
A first implementation in 089dd7baa993a75d9f0892105467f80eaa77a443 -- ignoring correlations between events. I'll leave this open for now.

[2018-12-07 23:24] johannbrehmer opened #182 "LHE weight normalization"
When MadGraph generates event with Pythia activated, it insists of a certein weight normalization:

[code]

This means that the weights in the LHE file are off by a factor of the number of events. This has to be taken into account in LHEProcessor.

[2018-12-10 16:20] alexander-held opened #184 "Initialize DelphesProcessor instance without re-running Delphes"
It would be convenient if there was a clean way to initialize an instance of `DelphesProcessor` that can be pointed to an existing `.root` file containing Delphes output. Right now, I believe the only way to do this is to fill the `DelphesProcessor.delphes_sample_filenames` and `DelphesProcessor.hepmc_sample_weight_labels` variables manually. The latter variable is needed because `DelphesProcessor

[2018-12-10 16:48] johannbrehmer commented on #184
Good point, goes on the to-do list.

One subtle point here is that at the best of my knowledge, the Delphes files do not contain the names of the different weights, just an unlabelled list of them. Their order is the same as in the HepMC file, but different from the LHE file. This means that the user has to provide the HepMC file in any case (but of course this does not mean that Delphes has to be

[2018-12-12 14:35] johannbrehmer commented on #182
Fixed in 78db1b7e30456076376ce731d5372e2eceb0eeec

[2018-12-12 14:35] #182 closed

[2018-12-17 16:05] johannbrehmer commented on #184
This is part of #188.

[2018-12-17 16:05] johannbrehmer commented on #65
This is part of #188.

[2018-12-17 16:06] johannbrehmer commented on #75
#188 allows additional benchmarks (but not different processes / models / ...).

[2018-12-17 16:07] johannbrehmer commented on #69
Implemented in 78db1b7e30456076376ce731d5372e2eceb0eeec.

[2018-12-17 16:07] #69 closed

[2018-12-17 16:07] johannbrehmer commented on #60
Part of #188.

[2018-12-20 10:57] johannbrehmer opened #189 "Cleaner LHE parsing"
The LHE event files seem to be an XML format. Currently we are parsing them manually, which might break with small changes in the way that MadGraph writes out these files. Maybe we should switch to using an XML parser such as [ElementTree](https://docs.python.org/3/library/xml.etree.elementtree.html#module-xml.etree.ElementTree)?

[2018-12-20 18:32] johannbrehmer commented on #189
Nuisance parameters are parsed this way since f39df424d9a98fc50a69e7b56d4ed0f4cf6080c1

[2018-12-20 18:33] johannbrehmer commented on #184
Merged in f39df424d9a98fc50a69e7b56d4ed0f4cf6080c1

[2018-12-20 18:33] #184 closed

[2018-12-20 18:33] johannbrehmer commented on #65
Implemented in f39df424d9a98fc50a69e7b56d4ed0f4cf6080c1

[2018-12-20 18:33] #65 closed

[2018-12-20 18:33] johannbrehmer commented on #60
Implemented in f39df424d9a98fc50a69e7b56d4ed0f4cf6080c1

[2018-12-20 18:33] #60 closed

[2018-12-20 18:34] johannbrehmer commented on #166
Fixed a big issue with this in f39df424d9a98fc50a69e7b56d4ed0f4cf6080c1

[2018-12-27 14:52] johannbrehmer opened #191 "Speed up machine learning"
The training of the ML models is surprisingly slow right now. This is particularly the case for models that need to calculate second derivatives during training (RASCAL, ALICES, SCANDAL, CASCAL). In addition, there have been reports that only a very small fraction of the GPU memory is utilized.

[2019-01-04 08:35] johannbrehmer commented on #191
Results of line profiling the RASCAL training:

[code]

and for the forward pass:

[code]

So the issue seems to be the gradient. I'm trying to figure out how to speed that part up. Any pointers are much appreciated!

[2019-01-04 09:59] johannbrehmer commented on #191
5c1b414ae2fbecfbcf57a1ac457e8e3ce2644184 reduces the number of times the gradients are calculated. This should significantly speed up the training of CARL, ROLR, and ALICE, and the evaluation of all ratio-based methods.

[2019-01-10 18:37] cranmer opened #202 "update link to docker image"

[2019-01-10 18:37] cranmer commented on #202
done

[2019-01-10 18:37] #202 closed

[2019-01-16 08:47] cranmer commented on #191
Is this issue fundamentally fixed, or you made some change that is a work-around?

I asked Gilles if he could investigate a bit.

[2019-01-16 15:12] johannbrehmer commented on #191
The issue is fixed for the methods that don't need the gradient of the network output (and for the evaluation of all methods).

But those techniques that do need the gradient (RASCAL, ALICES, ...) still train slowly. If Gilles has time to investigate, that would be great! There's a new toy example in the repository that might be a helpful.

Re-opening the issue for now.

[2019-01-16 15:23] johannbrehmer opened #209 "Smearing functions for LHEProcessor"
For some applications it would be useful if we could read in LHE events, but smear the four-momenta for each event randomly according to some smearing function (a Gaussian would be the obvious starting point).

[2019-01-17 17:38] johannbrehmer commented on #209
Implemented in 9d2cac3c4ff9d01d34736baa317078965c7dbb3e

[2019-01-17 17:38] #209 closed

[2019-01-17 17:39] johannbrehmer commented on #189
Done in 9d2cac3c4ff9d01d34736baa317078965c7dbb3e

[2019-01-17 17:39] #189 closed

[2019-01-17 18:01] johannbrehmer opened #213 "Smarter sampling"
Currently, the `madminer.sampling` functions use all events when sampling from a given parameter point theta. When an event was originally sampled from theta_mc (i.e. theta_mc was set in MadGraph's param_card.dat) and in `madminer.sampling` we are (re-)sampling from a different theta, this can lead to weights spanning a large range, then many repeated events in the unweighted samples, and ultimate

[2019-01-17 18:03] johannbrehmer commented on #213
Related to #70

[2019-01-18 18:30] johannbrehmer commented on #191
Thanks. That's unfortunate.

Is anything about this specific to reverse-mode auto-differentiation? I.e. would it be different with tensorflow?

[2019-01-21 22:52] johannbrehmer opened #219 "Understand LHE files despite wrong XML"
The LHE files that MadGraph produces ostensibly conform to the XML standard. But sometimes MadGraph produces headers that crudely violate this standard, for instance in this part about the weight groups:

[code]
(the two bold lines have been mixed up).

I'm not sure what exactly triggers this MadGraph behavior (I've seen it when calculating PDF uncertainties with PDF4LHC, but it was fine with CTEQ

[2019-01-23 20:48] johannbrehmer opened #225 "Tests, tests, tests"
MadMiner should have as many (unit) tests as possible. So far, in `tests/` we have two simple tests that check that all imports work, and that some of the ML functionality works.

Here are some ideas for different tests:

☐ the basic functionality of the `MadMiner` class: setting up parameter spaces and benchmarks, loading and saving MadMiner files
☐ the morphing functionality
☐ running MadGraph a

[2019-01-23 21:03] johannbrehmer commented on #219
Actually, it seems that the parsing is pretty robust to some errors in the XML. My isssue came from something else (now fixed). I'll leave this open, but it might not be super important.

[2019-01-26 20:03] irinaespejo opened #236 "dp.analyse_delphes_samples()"
Hi all,
I'm getting this error when I run `dp.analyse_delphes_samples(reference_benchmark=benchmark)`, where `benchmark = 'sm'`  I also get it if the benchmark is other than `'sm'`. Below the error I give more info about previous lines. Do you know what's the problem? Thank you!

############################################
Traceback (most recent call last):
File "code/delphes.py", line 67, in <mo

[2019-01-28 00:54] irinaespejo commented on #236
Hi Johann, I was using versions (1.16.0, 2.7) just like the numpy bug you linked. I've forced numpy to downgrade to 1.15.4, because before with the requirement "numpy>=1.13.0" it automatically installed the newest version. That particular bug has disappeared.

[2019-01-28 00:54] #236 closed

[2019-01-28 00:54] irinaespejo commented on #236
Thanks a lot!

[2019-01-28 16:57] johannbrehmer commented on #236
a9c57f4dca09270ca3623c722a296e86d737c99f should solve this issue also for numpy 1.16.0 and Python 2.7...

[2019-03-04 09:39] FFFreitas opened #286 "problem with environment.yml"
Hi, I tried to create an environment with the environment.yml file, in the line 14 you have - pyteest intead of - pytest, this gives an error. after correct this issue the env can be create with no errors.

[2019-03-04 14:42] johannbrehmer commented on #286
Fixed in 72df03bfea46b26d37e28a6c0b4866fccb0ca4b3

[2019-03-04 14:42] #286 closed

[2019-03-05 04:14] FFFreitas opened #291 "error when run reweight by madminer."
Hi, it's me again, I've been running some tutorial examples and trying to use HEL_UFO model to test some benchmark points and I noticed one odd thing that is happening on my machine.
When I run miner.run(...) for 'signal' events the madgraph reweight return an error that said I don't have allmatrix2py needed by the reweight api, but despite this it finishes and produce the .lhe files. I can loaded

[2019-03-05 16:18] johannbrehmer commented on #291
Hi,

As you pointed out, there is some issue with the MadGraph reweight feature not working (and then MadMiner does not get all the needed information).

The MadGraph reweight documentation (https://cp3.irmp.ucl.ac.be/projects/madgraph/wiki/Reweight) says that

Could you check if numpy is installed in the same environment you are using to run MadGraph?

(We should update the MadMiner installation

[2019-03-06 07:17] FFFreitas commented on #291
Yes, numpy is instaled in my madminer and MadGraph  environments. I also tested in another machine and got the same problem. to avoid this issue I'm first seting the madminer run to only run one event and latter I edit the run card with more events and using a different env to run MG5 using ./bin/madevent in the folder created by madminer. do you think it's ok to do this? I could reproduce the res

[2019-03-06 14:31] johannbrehmer commented on #291
That should be fine.

But maybe you can try to isolate the allmatrix2py issue. When you start MadGraph on its own (without MadMiner) and activate reweighting, does it also crash?

[2019-03-11 09:08] johannbrehmer commented on #291
I'll close this for now since this seems to be a MadGraph setup issue.

[2019-03-11 09:08] #291 closed

[2019-03-12 19:23] KlingFelix opened #292 "Add Warning in AsymptoticLimits class"
AsymptoticLimits assumes that if it's an ensemble, we add the path to a directory, if it's a single estimator, we add the path to a file. I just added the path to the directory where the single estimator is, and the code  failed at a `assert` comment. Let's add a warning.

[2019-03-15 09:15] johannbrehmer opened #293 "Inference with pyhf"
Rewrite madminer.limits to wrap around pyhf. That will not only do all the histogram stuff (e.g. for SALLY) for us, but also takes care of the profiling / p-value calculation / CLs stuff. I discussed this with Lukas Heinrich and it should be possible to use pyhf's inference part using a RASCAL-style likelihood ratio estimator.

[2019-03-15 09:16] johannbrehmer opened #294 "Ratio-based methods with nuisance parameters"
We have it for SALLY, it shouldn't be hard to implement this for RASCAL and friends.

[2019-03-15 09:22] johannbrehmer opened #295 "Profiled score"
Let's say we want to infer on n parameters of interest in the presence of k nuisance parameters. Right now, SALLY lets us estimate the (k+n)-dimensional score.

It is possible to define a "profiled" or "nuisance-hardened" n-dimensional score, see https://arxiv.org/abs/1903.01473. We should implement this, probably in the ScoreEstimator class.

And then we can and should compare this infernal SALLY

[2019-03-19 14:18] johannbrehmer commented on #295
Implemented in 22fd05b2ccd50b3c2e9a2a5ccdcd30f53448a061

[2019-03-19 14:18] #295 closed

[2019-03-29 21:22] johannbrehmer commented on #294
Implemented in b583d5bdf2b5b7366f3d0e67cfbd3c173ba18101

[2019-03-29 21:22] #294 closed

[2019-04-02 19:04] johannbrehmer opened #303 "User-defined histogram binning"
It would be nice if in FisherInformation and / or AsymptoticLimits we could use a user-defined histogram binning, rather than the equal-sized or equal-xsec binnings we support right now.

[2019-04-05 18:06] KlingFelix opened #311 "Kinematic Detector Fischer Info doesn't have covariance"
Currently calculate_fischer_information_full_detector() doesn't give back a covariance when include_xsec_information=False.

See attachment

<img width="1000" alt="error_message" src="https://user-images.githubusercontent.com/33113625/55647461-93eaef80-5792-11e9-8ae4-58c810014af1.png">

[2019-04-17 14:23] johannbrehmer commented on #213
See #313

[2019-04-21 19:12] johannbrehmer opened #323 "Better automatic histogram binning"
It could be useful to set a maximal statistical uncertainty on the cross sections in each bin for the histogram information.

[2019-04-23 18:42] johannbrehmer commented on #303
Implemented in 08620cc3e499eb3ab149cbb467bd2988f0239c2f for FisherInformation

[2019-05-09 19:34] johannbrehmer commented on #213
Implemented in f8cf7d1ed4f7b06394e78f0da5aea7631751da14

[2019-05-09 19:34] #213 closed

[2019-06-14 13:28] johannbrehmer opened #352 "Option to not load all training data at once"
Currently, MadMiner loads all training data into memory. We never ran into issues as long as the training samples contained up to 10M samples (with O(50) parameters and O(50) observables). But when pushing the number of samples to 100M, 64 GB RAM wasn't enough anymore.

So we want an option that either...
- splits the training data into chunks that are loaded independently
- uses some kind of memo

[2019-06-18 18:42] johannbrehmer commented on #352
Implemented in 00c2a3e889fbe5050ccb501d6e51bc81c71a8fe0

[2019-06-18 18:42] #352 closed

[2019-06-28 17:31] johannbrehmer opened #357 "SALLINO / adaptive SALLY binning"
Currently `AsymptoticLimits` calculates SALLY limits with a fixed histogram, which can be inefficient. We should implement the 1D histograms of the SALLINO methods, and the adaptive binning with many bins along the theta times score direction (and less bins in the orthogonal direction).

[2019-06-28 17:32] johannbrehmer opened #358 "Update documentation"
The documentation isn't up to date -- many new keywords are not included, and the `AsymptoticLimits` class is not documented at all.

[2019-06-28 17:34] johannbrehmer opened #359 "Clean up examples"
We currently have redundant, and partially outdated, examples inside the repo -- they should be cleaned up or moved to a different repo.

[2019-06-28 17:36] johannbrehmer commented on #166
I don't really see anything we can do about this, closing for now.

[2019-06-28 17:36] #166 closed

[2019-07-03 15:19] johannbrehmer commented on #358
Done in 9b4eea39eee4e6dc1ff58ee8caabed6e22d4e744

[2019-07-03 15:19] #358 closed

[2019-07-03 15:19] johannbrehmer commented on #303
Implemented in 9b4eea39eee4e6dc1ff58ee8caabed6e22d4e744 for AsymptoticLimits

[2019-07-03 15:19] #303 closed

[2019-07-03 15:20] johannbrehmer commented on #357
Implemented in 9b4eea39eee4e6dc1ff58ee8caabed6e22d4e744

[2019-07-03 15:20] #357 closed

[2019-07-03 15:20] johannbrehmer commented on #323
Some progress in 9b4eea39eee4e6dc1ff58ee8caabed6e22d4e744 -- at least there's a warning about too large statistical uncertainties in histogram bins now

[2019-07-12 18:41] johannbrehmer opened #371 "Inconsistent HepMC files in some runs"
Running the particle physics tutorial in the Delphes version with a clean install of MadGraph 2.6.5 and Pythia 8 installed from within MadGraph leads to a strange issue:

The HepMC file for run_01 (the one sampled from the SM) has an inconsistent HepMC file with events beginning with something like this:
[code]
There should be six weights, as correctly given by `N 6`. But only four are given. This

[2019-07-12 18:48] johannbrehmer commented on #371
Some more details:
- The LHE files seem fine in both cases.
- Run cards, param cards, and Pythia cards were identical between the two runs.
- The only difference between the two runs is which benchmark was used for sampling (see the tutorial notebook).

[2019-07-12 18:50] johannbrehmer commented on #371
This was originally reported by Kevin Kwok with the following setup:
[code]

[2019-07-12 18:54] johannbrehmer commented on #371
The only obvious difference between the LHE files I can find is a consequence of the different sampling benchmarks.

run_01 (sampled from benchmark "sm") has
[code]

On the other hand, run_02 (sampled from "w") has
[code]

[2019-07-12 19:11] johannbrehmer commented on #371
Same issue with MG v2.6.6, and also if we just do one run (sampling at the SM) and disable the second one.

[2019-07-12 20:28] johannbrehmer commented on #371
Surprisingly, the old Delphes tutorial in MadMiner v0.3.0 runs fine., using the same MG + Pythia installation that failed for v0.4.6...

I went through a git diff between the two versions. I could not find any changes in madminer.core that seemed related to this. The run and Pythia cards are also identical. The param and reweight card are structurally identical, but a different morphing basis mean

[2019-07-12 20:34] cranmer commented on #371
@alexander-held any chance you might have some time to help here?

[2019-07-12 20:45] johannbrehmer commented on #371
Okay, I fixed the issue in the strangest way: by changing the morphing basis.

Here's a hypothetical explanation for what might be happening:
- The reweight card that MadMiner creates sets numerical values for the parameters depending on the morphing basis (benchmark points).
- MadGraph then writes a header into the LHE file that summarizes the effects of these weights, for instance as `<weight id

[2019-07-25 13:48] johannbrehmer commented on #359
Done in 9960fd0f16153aeb1ff329f2792a7df1437bc302

[2019-07-25 13:48] #359 closed

[2019-10-30 16:10] johannbrehmer opened #391 "Custom network architectures"
It would be cool to let the user define their own `nn.Module` for any of the estimator types implemented in MadMiner.

An open question is how best to load and save that. Serializing the full model is not ideal.

[2019-10-30 16:11] #191 closed

[2019-11-18 19:12] johannbrehmer commented on #52
Implemented in a9368983f3a6365f03dac32d5a07b2cffbab6bd4

[2019-11-18 19:12] #52 closed

[2019-11-18 19:13] johannbrehmer commented on #63
Implemented in 933bdc51a28d0f22f9e50ab08b78b7bfcdfdec9e

[2019-11-18 19:13] #63 closed

[2020-03-04 05:04] kratsg commented on #293
./cc @matthewfeickert

[2020-04-21 15:16] Sinclert opened #421 "Provided Docker images"
This issue aims to discuss the relationship between MadMiner and Docker, leading to the proposal of a new way of referring to the offered Docker images, as long as a new way of building them.

---

### Current situation
MadMiner currently offer a "lightweight" Docker image (called `docker-madminer`, and available from the [madminertool DockerHub user](https://hub.docker.com/u/madminertool/)), whic

[2020-04-27 13:37] Sinclert opened #422 "Possible Python2 undesired behavior"
This issue aims to expose a possible undesired behavior when using the `python2_override` argument within the [madminer.core.MadMiner.run_multiple](https://github.com/diana-hep/madminer/blob/master/madminer/core/madminer.py#L784) function, and its usage in combination with the `initial_command` argument.

These arguments are used to determine what it is passed as `explicit_python_call` and `initia

[2020-04-27 13:53] johannbrehmer commented on #422
Hi @Sinclert,

Thank you for this very thorough write-up of a super annoying situation that cause me quite some gray hair in the past (and I'm sure Felix as well).

However, at least on my system your conclusions are not quite true. I use a Python 3 virtual env for MadMiner and use `initial_command` to activate a Python 2 virtual env for the MadGraph steps, *without* using the `python2_override` f

[2020-04-27 14:41] Sinclert commented on #422
Thanks for the quick reply.

Yes, you are right: having 2 virtual environments (one with Python2, another with Python3), and just specifying `initial_command` as a way to activate the Python2 env works.

However, I feel that the `python2_override` is hardly usable as it is right now, as it always need to be accompanied with a `initial_command` PATH setting. In other words, it is not usable just by

[2020-04-27 14:46] johannbrehmer commented on #422
That's a good idea, I'm totally on board. Also, maybe we should copy your issue description into the relevant docstring.

Do you maybe want to open a PR?

[2020-04-27 15:02] Sinclert commented on #422
Ok, I will open a PR referencing this issue 👍

Before that, I will spend some time exploring the _downstream_ functions ([generate_mg_process](https://github.com/diana-hep/madminer/blob/master/madminer/core/madminer.py#L901), [setup_mg_with_scripts](https://github.com/diana-hep/madminer/blob/master/madminer/core/madminer.py#L998) and [run_mg](https://github.com/diana-hep/madminer/blob/master/madmi

[2020-04-27 17:12] johannbrehmer commented on #422
Solved in fd737c2b3b50ace06d8fd2cb337792892ad7d103

[2020-04-27 17:12] #422 closed

[2020-04-27 17:20] johannbrehmer commented on #421
Hi,

I don't have a strong opinion on this one, but I think you make a good case. Any thoughts from @irinaespejo or @cranmer on this?

Cheers,
Johann

[2020-04-27 17:35] cranmer commented on #421
Hi @Sinclert the
`madminertool/docker-madminer-all` is basically the "heavy" version.
I'm happy to have them renamed, but I think it is nice if the contents of the containers are reflected in the name. Something with `-ml` would indicate `pytorch` etc is installed. I think `all` is fairly clear. I agree that the container with only `madminer` is not very useful. I would be happy to have CI build t

[2020-04-27 19:58] irinaespejo commented on #421
Hi @Sinclert,
I don't really have a strong preference about naming, for the general physics user maybe it's useful to know which image has MadGraph and so on, but that can be said in a description. I agree that if the ML image only has python packages then we could do something lighter than using Docker.
About the CI, the way I found to make it work was to create a base image `madminertool/docker-

[2020-04-28 08:38] Sinclert commented on #421
Thanks for the feedback! 😄

---

### Terminology
I think naming the _"heavy"_ Docker image _"docker-madminer-all"_ **makes sense**, as long as the _"light"_ version has no suffix (_"docker-madminer"_).

However, I humbly believe that including suffixes like `-ml` or `-physics` provides the wrong abstraction to the users. As discussed over Slack, my impression on MadMiner is that it is a quite deep

[2020-05-05 12:12] Sinclert opened #424 "Delphes side-effects when non-existent file"
This issue aims to tackle an issue that may arise when using the [DelphesReader](https://github.com/diana-hep/madminer/blob/master/madminer/delphes/delphes_reader.py#L23) object when interacting with [Pythia8](http://home.thep.lu.se/~torbjorn/Pythia.html) created files.

---

### Current situation

MadMiner offers a way of interacting with one of the MadGraph underlying dependencies, [Delphes](htt

[2020-05-05 15:39] johannbrehmer commented on #424
I think these checks are a good idea, though (as you mention in your edit) we should be careful to check for both the compressed and uncompressed version.

Do you have time to open a PR for this?

[2020-05-06 09:47] Sinclert commented on #424
Yes.

I created a PR (https://github.com/diana-hep/madminer/pull/426), where I also included validations for the `add_observable` and `add_cut` functions, which receive wildcard strings, which need to be a valid Python expressions.

[2020-05-07 18:00] johannbrehmer commented on #424
Thank you! So this is solved with 027fec93e326415180712c47b031791a148c5479

[2020-05-07 18:00] #424 closed

[2020-05-11 11:10] Sinclert commented on #421
I would like to resume this issue to ask about the [docker-madminer-all](https://github.com/scailfin/workflow-madminer/blob/master/docker-images/docker-madminer-all/Dockerfile) docker image.

It is not completely clear to me if the purpose of this image is either:
- A) Just provide an installation ready environment to run any user-define code on top of it.
- B) Provide, not only the environment, b

[2020-05-11 11:35] irinaespejo commented on #421
Hi @Sinclert,
The purpose is A) but the workflows there are _legacy_, sorry. So you got it right. To your question:

I answer yes

I'm amazed how far you got :) Thank you for your time doing this!

[2020-05-11 13:13] Sinclert commented on #421
Thank you @irinaespejo :)

[2020-07-01 13:55] Sinclert opened #429 "Split package dependencies"
This issue aims to proposed a new way of installing the package dependencies.

---

### Current situation
Madminer currently installs all the dependencies specified in its [setup.py](https://github.com/diana-hep/madminer/blob/master/setup.py) every time a user runs:
[code]

---

### Issue
For most of the times, end user would be interested in using madminer as a Python package for their own comput

[2020-07-01 15:04] johannbrehmer commented on #429
Hi,

This is a good idea, I'm on board. Your categorization looks good to me! Indeed, `scikit-learn` is indeed not needed (anymore), good catch.

Cheers,
Johann

[2020-07-01 15:07] johannbrehmer opened #430 "State-of-the-art density estimators"
Hi,

the NDE and SCANDAL methods currently rely on our own MAF implementation, which is not really state-of-the-art in neural density estimation anymore. I propose we switch to [neural spline flows](https://arxiv.org/abs/1906.04032) and use the implementation in the excellent [nflows](https://github.com/bayesiains/nflows) library.

This would break backwards compatibility with trained NDE / SCANDA

[2020-07-02 09:33] #429 closed

[2020-09-11 14:04] Sinclert opened #437 "Drop Python2 support"
Is there a plan to drop Python2 support on the near future?

I am not referring to the `python2` commands that Madminer need to pass to sub-shells in order to interact with [_MadGraph_](https://launchpad.net/mg5amcnlo) (still on Python2), but to the client-side support of launch Madminer features using Python2 or Python3.

I think dropping support will open the window to:

1. Reduced Docker image.

[2020-09-17 15:14] Sinclert commented on #437
If there is no plan on this regard, I will start working on migrating the codebase to **Python3.6+**

The reason I think Python 3.6 is a good version to serve as _floor_ is that it introduced very nice features like:
- [F-strings](https://www.python.org/dev/peps/pep-0498/).
- [Faster and more compact dictionaries](https://www.youtube.com/watch?v=npw4s1QTmPg).
- [Native support for `pathlib` classe

[2020-09-17 19:57] johannbrehmer commented on #437
Hi Sinclert,

thanks for the suggestion. I am on the fence here. I agree with you that Python 3.6 is the better Python.

At the same time, as far as I know, MadGraph regrettably still forces their users to have Python 2.6/2.7. For users that are not used to virtual environments and that run everything on the same setup, it may be easier to just have one Python 2.x installation and use that for bot

[2020-09-17 20:25] Sinclert commented on #437
I agree it is an annoying situation.

Although it is still a _beta_ product, it seems that MadGraph `3.X.X` is being developed to support Python 3 ([announcement](https://launchpad.net/mg5amcnlo/+announcement/22860)).

Something we could do is to migrate the codebase to **Python 3 exclusive** features in a new branch (called `python3-only`), targeting a specific version of MadMiner. `0.8.0`? `1.0.

[2020-09-18 00:21] johannbrehmer commented on #437
The separate branch solution sounds great, I'm definitely on board with that!

[2020-09-24 20:14] Sinclert commented on #437
I have a _Python3.6+ only_ branch ready on [my forked repository](https://github.com/Sinclert/madminer/tree/drop-python-2).

I will create a PR with a detailed description of all the Python2 -> Python3 migration changes I did, including why and how I did them, once a `python3-only` branch is available on the main repo (I do not have permissions to create it).

[2020-09-28 13:47] johannbrehmer commented on #437
Perfect! The `drop-python-2` branch now exists on the main repo, feel free to open a PR at any time.

Comparison: https://github.com/diana-hep/madminer/compare/drop-python-2...Sinclert:drop-python-2

[2020-10-09 07:51] TehMeh opened #440 "Auto decay width computation with MadGraph"
Hi,

when changing the mass or some other parameter relevant to the decay width, reweighting does not really work or might not work as intended.
Say, if I set the decay width is to be automatically computed by MG in the param card template, then this automatic computation is not performed when reweighting.
When reweighting, MadGraph simply uses `param_card_default.dat` which is generated by MG in

[2020-10-09 08:11] TehMeh opened #441 "Matching/Merging and weight propagation to HepMC files"
Hi,

in some cases, MadGraph uses matching/merging (MLM, FxFx, etc.) procedures. The result is that some events are removed due to double counting and there are more events in lhe files than in HepMC or ROOT files. If that is the case, then it is impossible to read weight labels/ids from lhe files and the only option is to use `weights='delphes'` option when adding samples.

However, currently, Ma

[2020-11-11 16:01] Sinclert opened #446 "Dtypes bug with h5py v3+"
This issue describes the found incompatibilities when using [h5py v3.0.0+](https://github.com/h5py/h5py/releases/tag/3.0.0) (a version published on 10/31/2020).

### Context
Madminer does **not specify any h5py version** on its [setup.py](https://github.com/diana-hep/madminer/blob/master/setup.py) file, which, until very recently, resolved in `v2.10.0`. With the jump to h5py `v3.0.0` there are som

[2020-11-11 21:32] johannbrehmer commented on #446
Hi Sinclert,

Thanks a lot for opening this. I encountered the same issue the other day and fixed it on the `finite-differences` branch -- sorry, I should have fixed it everywhere immediately! I'll do that soon.

Cheers,
Johann

[2020-11-12 15:04] Sinclert commented on #446
Great to hear.

Thanks Johann

[2020-11-12 16:13] #446 closed

[2020-11-19 15:03] sbrass opened #448 "[Feature Request] SHELL-based or user-choice shebang in MadMiner created run scripts"
Hey guys,

I've came across following issue:
Using the automatically generated run-scripts by MadMiner, I've found that you employ each with a `#!/bin/bash` shebang.
In principle, this is fine, but there are quite large institutes that use ZSH or CSH as default (login) shell (or just imagine an user who just does not use bash), thus, you would enforce a different environment than their login envir

[2020-11-23 10:37] johannbrehmer commented on #448
Hi Simon,

thanks a lot for reporting this and the suggestion, this makes a lot of sense to me.

@Sinclert I'm curious about your thoughts on this?

Cheers,
Johann

[2020-11-23 15:38] Sinclert commented on #448
Hi Simon, thank you for opening this issue.

My understanding is that shell script _shebangs_ are only applicable when there is no specified shell to run the script:
[code]

However, you can always specified a specific shell, so that the shebang gets overpassed:
[code]

**Do you have a use case where you cannot manually launch a specific shell? If so, could you describe it?**

I think your suggest

[2021-02-09 15:45] Sinclert opened #449 "[Feature request] Define CI + propagate Docker build downstream"
This issue describes the request for a GitHub Actions _Continuous Integration_ workflow, in charge of performing basic quality operations, as long as, possibly, the update of _down-stream_ Docker images.

---

### Current situation
Madminer offers a [Travis CI workflow](https://github.com/diana-hep/madminer/blob/master/.travis.yml) to both test and publish the auto-generated Madminer Docker image.

[2021-02-09 15:49] Sinclert commented on #449
One particular difficulty I see, is the automatic version-update of _down-stream_ Docker images:

Let's say MadMiner jumps from version `0.8.2` to `0.9.0`. That is a **minor** version update. Now, let's imagine one of our _down-stream_ Docker image has version `0.1.1`.

- A) Should it copy the same _version-upgrade_ type, and bump to `0.2.0`?
- B) Or should it continue its own pace and just update

[2021-02-12 17:44] rruizdeaustri opened #450 "Parton_level_analysis script does not work"
Hi,

 I'm trying to run the parton level analysis example using MG5 v 2_7_2 which is compatible with python3.
Everything goes well till the step: lhe.analyse_samples in which I get:

.....
~/.local/lib/python3.6/site-packages/madminer-0.7.6-py3.6.egg/madminer/utils/interfaces/lhe.py in parse_lhe_file(filename, sampling_benchmark, observables, observables_required, observables_defaults, cuts, cuts_

[2021-02-15 15:32] sbrass opened #451 "[Bug] Log-likelihood evaluation in SCANDAL leads to NaNs"
Dear all,

I came across following problem, after I had trained my neural densitor estimator plus score supplement (SCANDAL) without any problems, I tried to evaluate the log-likelihood using the trained network with a separate test sample.

However, I always get an NaN inside the MAF code. After introspecting with a forward module hook I could track it down to be inside `self.Ws` of the Condition

[2021-02-16 09:23] #448 closed

[2021-02-17 21:14] matthewfeickert opened #452 "Require Python 3.6+ in setup.py to avoid breaking future releases"
`madminer` dropped Python 2 support in PR #438 (:tada: :rocket: :snake:), but there are some lingering remnants in the metadata of `setup.py` that can pose problems to future releases that can cause them to break. Specifically,

https://github.com/diana-hep/madminer/blob/7fc053b23beca88429c0120b2b7d7b6c049944a9/setup.py#L33
https://github.com/diana-hep/madminer/blob/7fc053b23beca88429c0120b2b7d7b6

[2021-02-17 21:20] matthewfeickert commented on #452
@johannbrehmer there is overlap between this Issue and PR #442. Is a contributed PR helpful here, or are you going to take care of this all in your PR?

[2021-02-17 22:07] matthewfeickert opened #453 "Use compatible release syntax to set bounds on required dependencies"
In the same vein as Issue #452, almost none of the required dependencies have upper bounds

https://github.com/diana-hep/madminer/blob/7fc053b23beca88429c0120b2b7d7b6c049944a9/setup.py#L36-L46
https://github.com/diana-hep/madminer/blob/7fc053b23beca88429c0120b2b7d7b6c049944a9/setup.py#L117

This can very easily cause old releases to break in the future, and in the case of `uproot` I would be shock

[2021-02-17 23:39] Sinclert commented on #452
Hey @matthewfeickert , I read this issue coming from your [madminer-tutorial PR](https://github.com/cranmer/madminer-tutorial/pull/6).

Please note that my [_Drop Python2 support_](https://github.com/diana-hep/madminer/pull/438) PR (the one you mentioned), was merged from my fork, to the `python3-only` branch in this repository. **The changes you commented on are already done**, but they have not

[2021-02-18 00:01] matthewfeickert commented on #452
Resolved by https://github.com/diana-hep/madminer/pull/442/commits/23c59221c81f164a113267589a0df572f4a4df11 in PR #442

[2021-02-18 00:01] #452 closed

[2021-02-18 03:54] matthewfeickert commented on #453
If it would be helpful I'm happy to contribute a PR either to `master` or to part of PR #442.

[2021-02-19 18:38] Sinclert commented on #453
Hi @matthewfeickert ,

Yes, I agree with you that this would be ~extraordinary~ **very helpful**.

I lack the context to know which versions of those packages MadMiner was designed to interact with. Due the small test-suite, I can think of the following options:

- **Option A)** Define the _compatible release syntax_ to the **current** versions of those packages and hope for the best 🤞🏻
- **Option

[2021-02-19 19:15] Sinclert opened #454 "[Discussion] Argument to parametrize MG nevents"
This issue is mean to hold the discussion of whether adding a way to parametrize the argument `nevents` that MadGraph  _run cards_ contain, is something worth implementing.

## Context
On recent days, a way to determine the number of events of a given [madminer-workflow](https://github.com/scailfin/madminer-workflow) run has come into discussion (see issue https://github.com/scailfin/madminer-work

[2021-02-19 23:13] matthewfeickert commented on #453
:+1:

I lack the context as well, so my recommendations should be properly down weighted given that, but I would suggest **option A**. Here's my thoughts why:

- This is fundamentally easier for the `madminer` dev team as you can just start from the versions available now and move forward.
- `madminer` is a library that has multiple external requirements, and so already is going to exist in rather

[2021-02-20 10:25] johannbrehmer commented on #451
Thank you for reporting this issue, and sorry for this bug!

We have neglected debugging the MAF code somewhat, and in a perfect world we'd totally rewrite it e.g. based on the nflows (https://github.com/bayesiains/nflows) library. Unfortunately, in the near future I don't know if I'll have any time I can spend on MadMiner. Maybe some other team member has time to look at this?

[2021-02-22 07:52] sbrass commented on #451
Thanks, @johannbrehmer for looking into it. In that case, I will just keep my fingers off SCANDAL.

A little more information, it already seems to be an issue with the write-out after training (maybe, a `from` call)? I do not know for sure, but I will take my investigations on.
However, if you plan for a re-implementation, then this issue will be more or less a not-to-be-fixed.

[2021-04-16 13:37] Sinclert commented on #453
Hey @matthewfeickert ,

I just ran into the `uproot3` VS `uproot4` issue you were anticipating, when using this project with [Delphes](https://cp3.irmp.ucl.ac.be/projects/delphes)... (most of the problems are located within the [madminer/utils/interfaces/delphes_root.py](https://github.com/diana-hep/madminer/blob/master/madminer/utils/interfaces/delphes_root.py) module) 🙄 .

I currently do not hav

[2021-04-16 16:17] matthewfeickert commented on #453
Ah bummer. :(

Sure. I recently changed my tune a bit on this given some convincing from Henry and Hynek Schlawack (c.f. https://github.com/scikit-hep/pyhf/pull/1382), so I think that I'd suggest _just_ setting lower bounds still, but setting up some tests that are tightly testing the lowest bounds you support and be ready to update them as needed.

I don't have much experience here with predicitn

[2021-04-20 18:57] #453 closed

[2021-04-21 06:31] matthewfeickert opened #456 "Migrate CI and CD from Travis CI to GitHub Actions workflows"
There seems to be interest in using GitHub Actions workflows for CI and CD in the future. An example of how GHA can be quite nice for automating releases to PyPI can be seen in `pylhe` and is linked in PR #455 which instigated this Issue:

_Originally posted by @Sinclert in https://github.com/diana-hep/madminer/pull/455#issuecomment-823564143_

[2021-04-27 13:25] #437 closed

[2021-06-10 21:13] Sinclert commented on #456
I reopened this issue because it seems that the `release: [published]` trigger is not, well, triggering the [publish.yml](https://github.com/diana-hep/madminer/blob/master/.github/workflows/publish.yml) GHA workflow upon the creation of a `Pre-release` type release (I noticed now, when manually creating the [v0.8.0 release](https://github.com/diana-hep/madminer/releases/tag/0.8.0)).

@matthewfeick

[2021-06-11 05:50] matthewfeickert commented on #456
@Sinclert I'm not sure. Given https://docs.github.com/en/actions/reference/events-that-trigger-workflows#release I would have thought this should trigger, but I don't have experience using this workflow with pre-releases. This sort of workflow is how [`pylhe` publishes releases to PyPI](https://github.com/scikit-hep/pylhe/blob/d35bb3212d8b150c83527bdbf8426b93d6a2ccdd/.github/workflows/publish-pack

[2021-06-11 15:45] Sinclert commented on #456
m...m... I will leave this issue open then, so we can track what actually happens upon the next release.

[2021-06-14 09:49] sbrass opened #459 "Python 2 → 3 conversion error"
Dear all,

there is a mistake in _madminer/analysis/dataanalyzer.py_ after the transition from six ( 622d15f5a6119af3f8e14d301aafb0ea19a098a4):

    def _benchmark_array(self):
        return np.asarray([
            benchmark.values() for benchmark in self.benchmarks.values()
        ])

You use `benchmark.values()`, however, that gives an view object, and not the "actual" values.
You should wrap

[2021-06-15 13:49] Sinclert commented on #459
Hi @sbrass ,

You are absolutely right. My understanding when migrating the codebase was that, as a numpy array was being built out of it, the code snippet fell into the _"Dictionary views can be iterated over to yield their respective data"_ description from the documentation.

Did you encounter any `v0.8.0`-specific errors on your existing experiments?

[2021-06-15 13:59] Sinclert commented on #450
Hi @rruizdeaustri ,

Apologies for the super-delayed response.

My initial suggestion would be to skip MadGraph `2.7.X`, and jump directly to `2.8.X` or `2.9.X`. The reason for this is that, even if the MadGraph migration to Python3 happened on `2.7.0` (basically when they said [_"Now is Python3 compatible"_](https://launchpad.net/mg5amcnlo/+announcement/22860), which timed out with the `2.7.0` re

[2021-06-15 14:03] sbrass commented on #459
Yes, it iterates over the dict view, however, the dict view object returns an `odict` object, not a float. (That is really somehow ambiguous in the documentation.)

So far, I did not encounter any further issue, but I'll push any further issue here if I find one.

[2021-06-15 15:35] #459 closed

[2021-06-17 17:42] Sinclert commented on #456
We can now confirm that, indeed, that was the reason why the [publish.yml](https://github.com/diana-hep/madminer/blob/master/.github/workflows/publish.yml) workflow did not triggered with the `0.8.0` version pre-release. Once we did the pre-release for version `0.8.1` (where the workflow was already defined), it triggered correctly.

As a last step, we would need to fix the [PyPi-publication actio

[2021-06-17 17:50] #456 closed

[2021-06-17 18:10] matthewfeickert commented on #456
Glad this is working now.

Yeah, version numbers don't resolve the same way as they do on PyPI, so you would have needed `pypa/gh-action-pypi-publish@v1.4.0` here

https://github.com/diana-hep/madminer/blob/84943076d1acfa1151e3aed3c7a704d8f0c4f8bf/.github/workflows/publish.yml#L64

which you already resolved with PR #464. :)

https://github.com/diana-hep/madminer/blob/635d3745f8361f6d614a341dfda10

[2021-06-22 14:09] #449 closed

[2021-07-14 13:49] Sinclert commented on #450
Closing issue due to inactivity.

[2021-07-14 13:49] #450 closed

[2021-07-28 04:24] lyazj opened #470 "[Bug?] An unsuitable calling to initializing function(__init__) of class MadMinerParticle"
Dear developer:
When using method `LHEReader.analyse_samples()`, exception raised like this:

[code]

It seems like something goes wrong with this statement in file 'lhe.py':

[code]

The statement leads to a calling to function `vector.VectorObject4D()` with no argument, however at least 3 expected. I think it may be a little bug. Could you please help me solve this problem? Thanks!

Best wishes~

[2021-07-28 10:47] Sinclert commented on #470
Hi @lyazj ,

Thank you for letting us know.

I created a PR to fix the initialization of `MadMinerParticle` objects, so they use the class-method helpers instead of the usual constructor. For details check PR https://github.com/diana-hep/madminer/pull/471

[2021-07-28 11:40] lyazj commented on #470
Hi @Sinclert ,

Thanks very much! It was an interesting bug. Now it works well in creating `MadMinerParticle` objects. However, maybe another bug needs fixing with class `MadMinerParticle` that it doesn't assign a field named 'm' to any of its objects, but the field is referenced by function `_smear_particles` at line 1034 and 1060, in file 'lhe.py'.

Exception raised as below:

[code]

We came ve

[2021-07-28 12:10] Sinclert commented on #470
Yes, that is a different bug, related with the missing properties `m` (mass) and `e` (energy).

I believe the the problem relies in the inherited class, which does not provide those properties. I will change the [ObjectVector4D](https://github.com/scikit-hep/vector/blob/v0.8.3/src/vector/_backends/object_.py#L921) by the inmediately descendant class ([MomentumObject4D](https://github.com/scikit-he

[2021-07-28 13:35] Sinclert commented on #470
@lyazj is it solved now?

[2021-07-28 16:12] lyazj commented on #470
Hello, @Sinclert !

Thanks for your effort! The last problem was perfectly solved. However, I noticed a pair of redundant parenthesis, which caused the exception below:

[code]

It comes from the code below(at line 1052, in file '_smear_particles'):

[code]

I tried removing the redundant parenthesis, but new problem emerged:

[code]

All this comes from following the tutorial, but without Docker.

[2021-07-29 06:36] lyazj commented on #470
Hello, @Sinclert ! Check [](https://github.com/lyazj/tmp/raw/master/work.tar.gz) for details about my run if needed. All exceptions were raised when invoking 'work(.tar.gz)/parton_lhe.py'.

Best wishes~

[2021-07-29 09:46] Sinclert commented on #470
Hi @lyazj ,

Thanks for the detailed explanation 😃

As you said, the parenthesis around `particle.phi` are just deprecated, as the [vector](https://github.com/scikit-hep/vector) package offer `phi` as a property.

Regarding the `+=` (`__iadd__`) operation exception, I am afraid it will be more complicated. Turns out `vector` has different computing backends (_awkward_, _numba_, _numpy_ and pure Py

[2021-07-29 12:43] lyazj commented on #470
Hi @Sinclert , thanks a lot! It seems that we have some trouble in solving the latter problem and I guess you will be right. Then let's wait for *`vector`'s* responding!

Best wishes~

[2021-07-29 15:55] Sinclert commented on #470
I just merged PR https://github.com/diana-hep/madminer/pull/474, bumping `vector` to its new version (`0.8.4`). Hopefully it works now🤞🏻

What this whole thread show me is that we need to include Jupyter notebooks tests into the CI. Otherwise, the set of examples will continue to fall behind and we will not realise it. I will give it a try after I return from holidays. It seems that [Papermill](ht

[2021-07-30 04:12] lyazj commented on #470
Yes, it works well after upgrading `vector` to `0.8.4`, with the latest revision of `MadMiner`. Thanks very much for your effective support and hope the additional tests will be of help to us!

I'll close the issue for its successful completion. Enjoy your holiday!

See you~

[2021-07-30 04:12] #470 closed

[2021-07-30 09:59] Sinclert opened #475 "Define Jupyter notebooks automatic tests"
This issue describes the need to define a set of tests that run the existing [Jupyter notebooks examples](https://github.com/diana-hep/madminer/tree/master/examples) to check that changes in the codebase does not leave the examples broken.

These tests can be define by using [Papermill](https://github.com/nteract/papermill), a Python package to execute jupyter notebooks, following what other Pytho

[2021-09-03 11:58] Sinclert opened #482 "[Internal] Define data models"
There is a need to define several data models encapsulating properties of the same _concept_. These _hidden_ data models can be inferred from the [madminer_hdf5.py](https://github.com/diana-hep/madminer/blob/58d63198e05a464d1336d8b60149e15274b889bc/madminer/utils/interfaces/madminer_hdf5.py) module, and **some** examples are:

- `Benchmark`.
- `Cut`.
- `Observable`.
- `Parameter`.
- `NuisanceParam

[2021-09-03 14:40] Sinclert commented on #475
Notebooks migration PR: https://github.com/diana-hep/madminer/pull/480

[2021-09-03 14:42] Sinclert commented on #475
Working-in-progress branch with Papermill tests: https://github.com/diana-hep/madminer/tree/test-jupyter-notebooks

[2021-09-21 20:17] Sinclert commented on #482
In order to have the convenience of [Python Data-classes](https://docs.python.org/3.7/library/dataclasses.html) to define those data models, we would need to drop Python 3.6 support (as they are only available on Python 3.7+).

Adding task to the list...

[2021-09-30 14:56] #482 closed

[2021-10-22 21:20] Sinclert opened #492 "LHE analysis error when parsing observables"
This issue describes a bug introduced in version `0.9.0` which makes the set of [Particle physics notebooks](https://github.com/madminer-tool/madminer/tree/master/examples/tutorial_particle_physics) to crash when run in order. In particular, when running `2a_parton_level_analysis.ipynb`.

The error is raised on the line:
[code]

With traceback:
[code]

---

This problem may have been produced by t

[2021-10-22 22:19] #492 closed, assigned to Sinclert

[2021-10-26 11:37] henningbahl opened #494 "Handling of all PDF uncertainty sets"
Hi,

We tried using adding the pdf uncertainty as a systematic in our Madminer setup. We used the MSTW pdf set and the systematic was not recognized after the MG run.

We think that the block

[code]

in `madminer/utils/interfaces/lhe.py` should be extended to allow also for PDF sets not containing the strings `pdf` or `ct`.

Best,
Henning

[2021-10-26 12:02] henningbahl opened #495 "Bug in calculation of full Fisher information for ensemble with calculate_covariance=False"
Hi,

MadMiner crashes with `TypeError: unsupported operand type(s)`  when calculating the full Fisher information with `full_information` for an ensemble of estimators if using the option `calculate_covariance=False`.

The issue probably lies within the block

[code]
in `madminer/fisherinformation/information.py`. For `calculate_covariance=False` the variable `covariance` is equal to `None`, where

[2021-10-26 18:13] #495 closed, assigned to nobody

[2022-02-24 11:02] rbarrue opened #501 "Crash in load_madminer_settings in files with custom observables"
When running _load_madminer_settings_ (https://github.com/madminer-tool/madminer/blob/master/madminer/utils/interfaces/hdf5.py#L29) on a .h5 file created with custom observables added via the _add_observable_from_function_ (https://github.com/madminer-tool/madminer/blob/master/madminer/lhe/lhe_reader.py#L345), I'm getting an error "SyntaxError: unexpected EOF while parsing" when creating the Obser

[2022-02-24 13:43] irinaespejo commented on #501
Hi @rbarrue

Can you provide us with the snippet where you use _add_observable_from_function_? Maybe there are useful hints.
Also posting the entire error output can be helpful.

Thank you!

[2022-02-24 13:43] alexander-held commented on #501
Hi @rbarrue, the changes seem to come from the refactor in #483. The comment above the code you linked (`# Filter out callable definitions when saving into HDF5 file`) seems to imply that this may be on purpose. In case @Sinclert might have time to take a look or remember more about this, he might know.

What was previously used to refer to the custom observable in the file? If you have a minimal

[2022-02-24 15:24] Sinclert commented on #501
Hey @rbarrue 👋🏻

As Alex pointed out, the [hdf5.py](https://github.com/madminer-tool/madminer/blob/master/madminer/utils/interfaces/hdf5.py) interface suffered a big refactor in PR https://github.com/madminer-tool/madminer/pull/483. Among the changes, multiple HDF5 keys were renamed, making pre `madminer` 0.9.0 setting files incompatible with `madminer` 0.9.0+ HDF5 parsing (as specified in the [0.

[2022-02-25 08:48] rbarrue commented on #501
I was running this up until now on MadMiner v0.7.6 (it was working fine there), now I'm rerunning everything (even the setup file creation) on v0.9.2. The calculation of the observables is done properly, since the values are in the 'observations' column in the analysed .h5 files. To mention that this problem appears already in the processing stage if I do _lhe.save(shuffle=True)_.

I'm uploading a

[2022-02-25 12:26] Sinclert commented on #501
@rbarrue I think I found the "bug":

### Context
After the migration of _column-oriented_ models to _object-oriented_ models described by issue https://github.com/madminer-tool/madminer/issues/482 (to which PRs https://github.com/madminer-tool/madminer/pull/483, https://github.com/madminer-tool/madminer/pull/484 and https://github.com/madminer-tool/madminer/pull/485 belong) was completed, both `LH

[2022-02-25 15:31] rbarrue commented on #501
(sorry, closed this on accident) so, the solution would simply be to replace

[2022-02-25 15:52] Sinclert commented on #501
Yes. That should be it.

Could you run your analysis either (A) modifying your local copy of `madminer`, or (B) installing a customised fork of `madminer`, to verify whether or not my proposal fixes your crash?

If the answer is positive, I am open to review a PR including those changes **in addition to the necessary tests so that this _loading - saving setting inconsistency_ do not happen again**

[2022-02-28 15:25] Sinclert commented on #501
@rbarrue can you confirm whether or not [the described bug-fix](https://github.com/madminer-tool/madminer/issues/501#issuecomment-1050810452) is enough to solve your problem?

[2022-02-28 21:57] rbarrue commented on #501
Hi Sinclert, sorry for only coming back to this today. I'll test the proposed implementation tomorrow and give you feedback.

[2022-03-01 12:35] rbarrue commented on #501
Hi @Sinclert, I tested the proposed changes and everything seems to work as expected. In your comment, you mentioned "in addition to the necessary tests so that this loading - saving setting inconsistency do not happen again", are you talking about adding some tests to the [tests](https://github.com/madminer-tool/madminer/tree/master/tests) folder ?

[2022-03-01 13:13] Sinclert commented on #501
Hi @rbarrue ,

Yes, exactly. Right now the [tests](https://github.com/madminer-tool/madminer/tree/master/tests) folder is pretty empty, but I (we?) would like that to change.

What a better opportunity to start? 🙂

I would envision creating a `tests/utils/interfaces/test_hdf5.py` file (mimicking the folder structure under [`madminer`](https://github.com/madminer-tool/madminer/tree/master/madminer)

[2022-03-07 17:01] Sinclert commented on #501
The fix was merged, and [version `0.9.3` published](https://pypi.org/project/madminer/0.9.3/) ✅

Closing issue.

[2022-03-07 17:01] #501 closed

[2022-03-09 14:48] rbarrue commented on #501
Thank you very much @Sinclert !

[2022-08-25 15:30] alexander-held opened #513 "Increase test coverage"
The current test coverage is 23%, as evaluated via [`pytest-cov`](https://pytest-cov.readthedocs.io/en/latest/) running [`Coverage.py`](https://coverage.readthedocs.io/en/6.4.4/). While coverage by itself does not necessarily mean much, it would be useful to try and extend this.

| **Module** | **statements** | **missing** | **excluded** | **branches** | **partial** | **coverage** |
|--|--|--|--|-

[2022-08-25 16:16] matthewfeickert opened #514 "Remove restrictions on Dependabot GitHub Actions update"
There is a discussion under https://github.com/madminer-tool/madminer/pull/509#discussion_r954036008 about if the current restrictions on Dependabot updates for GitHub Actions should be loosened. At the moment the current settings

https://github.com/madminer-tool/madminer/blob/03cd67b4c6c1435ef0de6798c824fc4692341ab7/.github/dependabot.yml#L5-L12

allow only one action

https://github.com/madmine

[2022-08-25 21:10] Sinclert commented on #514
I already expressed my concerns about turning on GHA Actions major releases auto-creation of PRs.

Given the number of repositories some of us have Dependabot PRs turned on, we prefer to keep their automatic creation to those we can **immediately act on** (following SerVer best intent: minor and patch bumping ones). Therefore, avoiding been notified about every major release through a PR requiring

[2022-08-25 21:10] #514 closed

[2022-08-26 18:08] matthewfeickert commented on #514
Okay, SGTM.

Why do you say this though? This seems like a matter of personal choice. Am I missing a technical aspect?

[2022-08-27 02:17] wangzhe04 opened #515 "Add Overdetermined morphing and addtional testings"
The current morphing technique in Madminer can only take in inflexible distinct numbers of default physics parameter values, as well as can only accept couplings that work for both production and decay. There are several things that my project aims to address:

1. Add the functionality so that the morphing technique can take in more physics parameter values for better outcomes
2. Refactor the func

[2022-10-12 18:21] #515 closed

[2022-10-12 18:38] roshan-mammen-abraham opened #517 "Error calculating Fisher information in MadMiner(v0.9.3)"
Hello,

I wanted to raise the following issue in v0.9.3. I was going through the tutorial_particle_physics example provided with MadMiner (v0.9.3). There were some errors in some of the notebooks (screenshots attached) that prevented a Fisher information calculation from histograms from going through. (Using the SALLY network works though.)

In 2a_parton_level_analysis, while loading the "setup.h5

[2022-10-13 20:25] Sinclert commented on #517
👋🏻 Hi Roshan.

Thanks for reporting all these problems. I will address them in order:

---

These error messages are "expected". When MadMiner jumped from version `0.8.3` to `0.9.0` a huge refactor of the HDF5 interface was made (see [this PR](https://github.com/madminer-tool/madminer/pull/483) for complete context), and these messages were introduced. This was done in order to add visibility when

[2022-10-14 08:51] rbarrue commented on #517
I believe we could start with a controlled crash with a message informing that the settings should be consistent, e.g. "you asked for systematics, but did not define any in your setup file, confirm your settings and rerun. Exiting..."

@Sinclert is this how it's done in the SW dev. world ?

[2022-10-14 13:10] roshan-mammen-abraham commented on #517
Hello,

Thank you for the resonse. Regarding _In 4b_fisher_information, while loading the "lhe_data_shuffled.h5" it says "Did not find nuisance morphing setup"_  I mentioned it only as I had thought it could be a cause for the latter issue. Nothing more.

Thank you.

[2022-10-17 10:29] rbarrue commented on #517
Looks great, thanks for the ping @Sinclert !

[2022-10-17 17:24] Sinclert commented on #517
Just released version `0.9.5` with the fix.

I will close this issue for now. Feel free to open it if the problem persist.

[2022-10-17 17:24] #517 closed

[2022-10-27 14:12] mmenen opened #523 "Systematics cannot be read by MadGraph"
Hi all,

first of all the relevant program version I use:
Python 3.8.2
MadMiner 0.9.3
MadGraph 3.4.0
Pythia 8.306
Delphes 3.5.0

I am trying to create an analysis with some systematics using Delphes. If I just execute the part 1 and 2b from the tutorial_particle_physics example, everything works fine. However, when I simply add systematics to part 1 of the tutorial:
miner.add_systematics("norm", n

[2022-10-27 16:52] Sinclert commented on #523
Hi @mmenen  👋🏻

First of all, thanks for reporting this problem.

Given the valuable information you provided, I detected several issues:
- Madminer version `0.9.3`. Please use latest version `0.9.5`, as a couple of bug were fixed since `0.9.3`.
- MadGraph version `3.4.0`. We have not checked MadGraph compatibility since their `2.9.X`versions (see how we are currently installing MadGraph within th